$color-primary: #d09cfa;
$color-primary-light: #f3ccff;
$color-primary-dark: #a555ec;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

$color-secondary-light: #93bfcf;
$color-secondary-dark: #6096b4;

$color-tertiary-light: #99f2f1;
$color-tertiary-dark: #3d6d71;

$color-grey-light-1: #f7f7f7;

// Font
$default-font-size: 1.6rem;
// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
